* {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #1c1f4a;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #1c1f4a;
  padding: 20px 20px 5% 5%;
}

.container {
  background-color: #1c1f4a;
  width: 90%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .page {
    padding: 20px 20px 5px 5px;
  }

  .container {
    width: calc(100% - 10px);
    height: calc(100% - 40px);
  }
}

body {
  transition: all 0.5s ease;
  border: none;
  color: #111;
  cursor: default;
  outline: none;
  overflow: hidden;
  display: block;
  box-shadow: 1px 1px 0 rgba(25, 25, 25, 0.25);
}

body:hover {
  box-shadow: 0px 11px 30px rgba(25, 25, 25, 0.25);
}


body::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #22265e, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
body:hover::before {
  --size: 1000px;
}
