* {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}

body {
  background-color: #1c1f4a;
  animation: fadeIn .3s ease-in;
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #1c1f4a;
  padding: 20px 20px 5% 5%;
  overflow-x: hidden;
}

.container {
  background-color: transparent;
  width: 90%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .page {
    padding: 20px 20px 5px 5px;
  }

  .container {
    width: calc(100% - 10px);
    height: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .page {
    background-image: linear-gradient(0deg, #1c1f4a, #22265e);
    overflow-x: hidden;
  }
}

@media (min-width: 1500px) {
  body::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #22265e, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  body:hover::before {
    --size: 1000px;
  }
}
