.projects {
  width: 80%;
  height: calc(100% - 130px);
  border: transparent 1px solid;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

@media (width <= 480px) {
  .projects {
    justify-content: center;
  }
}
