.projects {
  width: 100%;
  height: calc(100% - 230px);
  border: transparent 1px solid;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}