.projects {
  width: 80%;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 100px;
  padding-top: 20px;
  height: calc(100% - 130px);
  border: transparent 1px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (width <= 480px) {
  .projects {
    width: 95%;
  }
}
